In [1]:
import pandas as pd
data = pd.read_csv("housing.csv")
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [2]:
data_x = data.drop(["median_house_value", "ocean_proximity","total_bedrooms"], axis = 1)
data_x

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462
...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,845.0,330.0,1.5603
20636,-121.21,39.49,18.0,697.0,356.0,114.0,2.5568
20637,-121.22,39.43,17.0,2254.0,1007.0,433.0,1.7000
20638,-121.32,39.43,18.0,1860.0,741.0,349.0,1.8672
20639,-121.24,39.37,16.0,2785.0,1387.0,530.0,2.3886

In [3]:
data_y = data.loc[:,["median_house_value"]]
data_y

       median_house_value
0                452600.0
1                358500.0
2                352100.0
3                341300.0
4                342200.0
...                   ...
20635             78100.0
20636             77100.0
20637             92300.0
20638             84700.0
20639             89400.0

[20640 rows x 1 columns]

In [4]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [5]:
from sklearn.model_selection import train_test_split
data_x_train, data_x_test, data_y_train, data_y_test = train_test_split(data_x, data_y, test_size = 0.2)

In [6]:
model.fit(data_x_train, data_y_train)
data_y_predict = model.predict(data_x_test)

In [8]:
from sklearn.metrics import mean_squared_error,r2_score
print("Mean Squared Error: ", mean_squared_error(data_y_test, data_y_predict))
print("Theta_N:",model.coef_)
print("Theta_0:",model.intercept_)

print("R2 Score:",r2_score(data_y_test, data_y_predict))

'''
R2 Score 1 means model has its best fit
R2 Score 0 means model has a poor fit
R2 Score -ve means model has worst line of fit
'''

Mean Squared Error:  4995652357.216709
Theta_N: [[-4.14688297e+04 -4.16965296e+04  1.14092963e+03 -2.14929636e+00
  -4.22739490e+01  1.50715058e+02  3.87179965e+04]]
Theta_0: [-3457750.00386376]
R2 Score: 0.624954383863233

'\nR2 Score 1 means model has its best fit\nR2 Score 0 means model has a poor fit\nR2 Score -ve means model has worst line of fit\n'